/* All header section numbers*/
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
  font-family: Arial, "Sans-Serif";
}
/* Individual header section numbers*/
.level1 .header-section-number {
  display: inline-block;
  color: rgb(0,85,129);
  font-weight: bold;
}
.level2 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level3 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level4 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level5 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: normal;
}
.level6 .header-section-number {
  display: inline-block;
  color: rgb(0,0,0);
  font-weight: normal;
}
/* Individual header section titles*/
h1, .level1 h1, .section h1 {
  color: rgb(0,85,129);
  font-weight: bold;
}
h1:after, .level1 h1:after, .section h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width: 4%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 10px solid rgb(26,189,201); /* This creates the border. Replace black with whatever color you want. */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
h2, .level1 h2, .section h2 {
  color: rgb(26,189,201);
  font-weight: bold;
}
h3, .level1 h3, .section h3 {
  color: rgb(26,189,201);
  font-weight: bold;
}
h4, .level1 h4, .section h4 {
  color: rgb(26,189,201);
  font-weight: bold;
  font-style: italic;
}
h5, .level1 h5, .section h5 {
  color: rgb(26,189,201);
  font-weight: normal;
}
h6, .level1 h6, .section h6 {
  color: black;
  font-weight: normal;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 75%;
}

body {
  text-align: justify;
}

red {
  color: rgb(255,0,0);
}

bmtgreen {
  color: rgb(26,189,201);
}

bmtpink {
  color: rgb(226,1,119);
}

tcmd {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,0,255);
}

teq {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255,0,0);
}

tblk {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,0,0);
}

tgrn {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,128,0);
}

.newboxgrn {
  padding: 0em;
  background: rgb(214,227,188);
  color: black;
}

.newboxblu {
  padding: 0em;
  background: rgb(219,229,241);
  color: black;
}

.newboxorng {
  padding: 0em;
  background: rgb(253,233,217);
  color: black;
}

.table-wrapper {
  overflow-x: scroll;
  white-space: nowrap;

}

/* Make figure captions bold */
.figure .caption {
  font-weight: bold;
}

/* Make table captions bold */
caption {
  font-weight: bold;
}

.wmark:before {
  content: "2025.2.0-rc.1";
  -webkit-transform: rotate(331deg);
  -moz-transform: rotate(331deg);
  -o-transform: rotate(331deg);
  transform: rotate(331deg);
  font-size: 10em;
  color: rgba(0, 0, 0, 0.17);
  position: fixed;
  top: 10%;
  width: 100%;
  white-space: pre;
  pointer-events: none;
}

/* Chapter TOC */
.chapter-toc {
  padding: 0em 0em;
  margin: 0em 0;
  font-family: Arial, "Sans-Serif";
  line-height: 0.3;
  white-space: pre-wrap;
}
.chapter-toc a {
  color: inherit !important;
  font-weight: inherit !important;
  font-family: inherit !important;
  text-decoration: none !important;
}
.chapter-toc .level-1 {
  color: rgb(0,85,129);
  font-weight: bold;
  font-size: 1.3em;
}
.chapter-toc .level-2 {
  font-weight: bold;
  font-size: 1.1em;
}
.chapter-toc .level-3 {
  color: rgb(96,96,96);
  font-weight: bold;
}
.chapter-toc .level-4 {
  color: rgb(115, 115, 115);
  font-style: italic;
  font-weight: bold;
}
.chapter-toc .level-5 {
  color: rgb(96,96,96);
  font-weight: normal;
}
