/* All header section numbers*/
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
  font-family: Arial, "Sans-Serif";
}
/* Individual header section numbers*/
.level1 .header-section-number {
  display: inline-block;
  color: rgb(0,85,129);
  font-weight: bold;
}
.level2 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level3 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level4 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level5 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: normal;
}
.level6 .header-section-number {
  display: inline-block;
  color: rgb(0,0,0);
  font-weight: normal;
}
/* Individual header section titles*/
.level1 h1 {
  color: rgb(0,85,129);
  font-weight: bold;
}
.level1 h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width: 4%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 10px solid rgb(26,189,201); /* This creates the border. Replace black with whatever color you want. */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.level1 h2 {
  color: rgb(26,189,201);
  font-weight: bold;
}
.level1 h3 {
  color: rgb(26,189,201);
  font-weight: bold;
}
.level1 h4 {
  color: rgb(26,189,201);
  font-weight: bold;
  font-style: italic;
}
.level1 h5 {
  color: rgb(26,189,201);
  font-weight: normal;
}
.level1 h6 {
  color: black;
  font-weight: normal;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 75%;
}

body {
  text-align: justify;
}

bmtgreen {
  color: rgb(26,189,201);
}

bmtpink {
  color: rgb(226,1,119);
}

tcmd {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,0,255);
}

teq {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255,0,0);
}

tblk {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,0,0);
}

tgrn {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,128,0);
}

.newbox1 {
  padding: 0em;
  background: rgb(214,227,188);
  color: black;
}

.newbox2 {
  padding: 0em;
  background: rgb(219,229,241);
  color: black;
}

.newbox3 {
  padding: 0em;
  background: rgb(253,233,217);
  color: black;
}

.newbox4 {
  padding: 0em;
  background: rgb(253,243,117);
  color: black;
}

.newbox5 {
  padding: 0em;
  background: rgb(240,255,240);
  color: black;
}

.newbox6 {
  padding: 0em;
  background: rgb(222,150,180);
  color: black;
}

.newbox7 {
  padding: 0em;
  background: rgb(230,230,230);
  color: black;
}

.wmark:before {
/*  content: "2025.2.0-rc.1";
  -webkit-transform: rotate(331deg);
  -moz-transform: rotate(331deg);
  -o-transform: rotate(331deg);
  transform: rotate(331deg);
  font-size: 10em;
  color: rgba(0, 0, 0, 0.17);
  position: fixed;
  white-space: pre-wrap;
  pointer-events: none;*/
}

